.label {
    display: inline-block;
    width: 100%;

    p {
        font-size: 18px;
        font-weight: normal;
        text-transform: capitalize;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $black-color;
        padding-bottom: 10px;

        span {
            color: $error-secondary-color;
            font-size: 20px;
            font-weight: 700;
        }
    }

    input, 
    textarea {
        outline: none;
        display: inline-block;
        border: 1px solid #ccc;
        width: 100%;
        height: 56px;
        background-color: transparent;
        flex: 1;
        color: $black-color;
        padding-left: 16px;
        border-radius: 5px;

        &::placeholder {
            color: #888;
        }

        &:hover {
            border-color: $black-color;
        }

        &:focus {
            border: none;
            outline: 2px solid $blue-color;
        }
    }
}
