.select {
    width: 100%;
    
}

.error {
    &__select {
        outline: none;
        border: 1px solid #cc674f !important;
        border-radius: 4px;
    }
    
    &__msg {
        color: #cc674f;
        margin-top: 5px;
        font-weight: normal;
        font-size: 15px;
    }
}

.header {
    margin-bottom: 10px;
    font-size: 18px;

    span {
        color: $error-secondary-color;
        font-size: 20px;
        font-weight: 700;
        margin-left: 4px;
    }
}
