.footer {
    background-color: #f8f8f8;
    margin-top: 4rem;

    &__container {
        position: relative;
        width: 100%;
        padding: 2rem;
        gap: 1.2rem;
        display: grid;
        grid-template-areas: 
           "quicks-link"
           "socials-link"
           "payment-method"
           "newslleter-form"
           "copy-right";
        
        @media (min-width: 800px) {
            grid-template-areas: 
                "quicks-link socials-link"
                "quicks-link payment-method"
                "copy-right newslleter-form";
        }

        @media (min-width: 1280px) {
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    

    // -------------- CSS Quick Links ---------------
    &__logo {
        img {
            width: 160px;
            height: 60px;
        }
    }

    &__links {
        grid-area: quicks-link;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        
        ul {
            padding: 1rem;
            position: relative;

            b {
                position: absolute;
                top: 1.5rem;
                left: 0.6rem;
                text-transform: uppercase;
                color: $blue_color;
                font-weight: 600;
            }

            &:first-of-type {
                li {
                    &:first-of-type {
                        margin-top: 0.5rem;
                    }
                }
            }

            li {
                font-size: 15px;
                margin-top: 0.7rem;

                &:first-of-type {
                    margin-top: 2.6rem;
                }

                a {
                    color: #666;
                    font-weight: 500;
                    text-transform: capitalize;
                    line-height: 24px;
                    display: inline-flex;
                    align-items: center;
                    transition: all 0.4s linear;
                    position: relative;

                    span {
                        margin-left: 5px;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        top: 102%;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: #666;
                        transition: all 0.4s linear;
                    }

                    &:hover {
                        &::before {
                            width: 105%;
                        }
                    }
                }
            }
        }
    }

    // -------------- CSS Socials Link ---------------

    &__socials {
        grid-area: socials-link;
        margin-top: 1.5rem;

        h3 {
            text-transform: uppercase;
            font-size: 16px;
            color: $blue_color;
            margin-bottom: 15px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1.3rem;

            li {
                a {
                    font-size: 28px                  
                }

                &:nth-child(1) {
                    a {
                        color: #1877F2;
                    }
                }
                &:nth-child(2) {
                    a {
                        color: #0099FF;
                    }
                }
                &:nth-child(3) {
                    a {
                        color: #FF3300;
                    }
                }
                &:nth-child(4) {
                    a {
                        color: #E4405F;
                    }
                }
                &:nth-child(5) {
                    a {
                        color: #1DA1F2;
                    }
                }
            }
        }
    }

    // -------------- CSS NewslleterForm ---------------
    &__newslleterForm {
        grid-area: newslleter-form;
        margin-top: 1.5rem;

        h3 {
            text-transform: uppercase;
            font-size: 16px;
            color: $blue_color;
            margin-bottom: 15px;
        }

        .form {
            display: flex;
            align-items: center;

            input {
                flex: 1;
                height: 48px;
                padding: 0 1rem;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 16px;
                outline: none;
                border: 2px solid #777;
            }

            button {
                width: 150px;
                height: 48px;
                margin: 0;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        p {
            font-size: 13px;
            margin-top: 12px;

            a {
                color: $blue_color;
                font-style: italic;
                margin-left: 3px;
                text-decoration: underline;
            }
        }
    }

    // -------------- CSS Payment Method ---------------
    &__payment {
        grid-area: payment-method;
        margin-top: 1.5rem;

        h3 {
            text-transform: uppercase;
            font-size: 16px;
            color: $blue_color;
            margin-bottom: 15px;
        }

        .flexWrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            img {
                width: 60px;
                height: 38px;
                object-fit: cover;
            }
        }
    }

    // -------------- CSS Copyright ---------------
    &__copyright {
        grid-area: copy-right;
        color: #666;
        font-size: 14px;
        margin-top: 2rem;

        h3 {
            font-size: 14px;
            font-weight: 600;

            span {
                color: $blue_color;
                padding: 0 4px;
                font-style: italic;
            }
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 15px;
            column-gap: 2rem;
            row-gap: 1rem;
            
            li {
                text-decoration: underline;
                text-underline-offset: 4px;
                position: relative;
                
                a {
                    color: #777;
                }

                &:last-of-type {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    
                    &::after {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: -1rem;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 16px;
                    background-color: #999;
                }
            }
        }
    }
}


