// variables css
$box-shadow--1: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
$box-shadow--2: 0px 0px 4px 0px rgba(99, 99, 99, 0.1);

$black_color: #020617;
$white_color: #ffffff;
$blue_color: #0980c0;
$gray-color: #969595;
$gray-color--light: #f8f8f8;
$error-color: #be1515;
$success-color: #27ae60;
$yellow-color: #F79F1F;
$violet-color: #833471;
$redish-color: #EA2027;

// ---------------------------------------------  
//  CSS Component
// ---------------------------------------------
.container {
    max-width: 1440px !important;
    margin: 0 auto;
    padding: 1.2rem;
}

.btn_primary,
.btn_primary_outline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: $black_color;
    color: $white_color;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.4s linear;
    border: 1px solid $black_color;

    &:hover {
        background-color: $blue_color;
    }
}

.btn_primary_outline {
    background-color: rgb(229 231 235);
    color: $black_color;
    border-color: transparent;

    &:hover {
        border: 1px solid $black_color;
        background-color: transparent;
    }
}

.message {
    margin: 1.2rem 0 0.4rem;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;

    &__success {
        color: $success-color;
        background-color: rgba(39, 174, 96, 0.3);
        padding: 8px 16px;
        display: block;
        border-radius: 5px;
        text-align: center;
    }

    &__error {
        color: $error-color;
        background-color: rgba(192, 57, 43, 0.3);
        padding: 8px 16px;
        display: block !important;
        border-radius: 5px;
        text-align: center;
    }
}


// ---------------------------------------------  
//  Swiper CSS
// ---------------------------------------------
.swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}

.swiper {
    margin-left: 0 !important;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.4s ease-in;

    &:hover {
        transition: all 0.4s ease-in;

        .swiper-button-prev,
        .swiper-button-next {
            display: grid;
        }
    }
}

.mainSwiper,
.offers_swiper,
.userMenu_swiper {
    // .swiper {
    //     box-shadow: 2px 5px 10px red !important;
    // }

    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
        border-radius: 4px;
        transition: all 0.4s ease-in;
    }

    .swiper-pagination-bullet-active {
        width: 16px !important;
        background-color: $blue_color !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white_color;
        transform: scale(0.45) translateY(-50%) !important;
        width: 60px;
        height: 80px;
        background-color: rgba(102, 102, 102, 0.6);
        transition: all 0.3s ease-in;
        border-radius: 5px;
        display: none;
        place-items: center;
    }

    .swiper-button-prev {
        left: -15px !important;
    }

    .swiper-button-next {
        right: -15px !important;
    }
}

.offers_swiper {
    max-width: 550px;
    transform: translateX(50%);
    overflow: hidden;

    @media (max-width: 991px) {
        max-width: 740px;
        transform: translateX(5.5%);
    }
    @media (max-width: 768px) {
        max-width: 665px;
        transform: translateX(3%);
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white_color;
        transform: scale(0.41) translateY(-50%) !important;
        width: 50px;
        height: 70px;
    }

    .swiper-slide {
        width: 150px !important;
        border-radius: 8px !important;
        overflow: hidden !important;
        height: 90% !important;
        margin-top: 0.65rem !important;
        box-shadow: $box-shadow--1;

        &:hover {
            img {
                transform: scale(1.05) !important;
            }
        }

        span {
            position: absolute;
            color: $white_color;

            &:first-of-type {
                bottom: 10px;
                height: 25px;
                right: 0;
                width: 70px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                font-size: 13px;
                font-weight: normal;
                background-color: $yellow-color;
                display: grid;
                place-items: center;
            }

            &:last-of-type {
                top: 5px;
                right: 2px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $redish-color;
                font-size: 11px;
                font-weight: normal;
                font-style: italic;
                display: grid;
                place-items: center;
            }
        }
    }
}

.userMenu_swiper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem !important;
    height: 280px !important;
    width: 220px !important;
    box-shadow: $box-shadow--1 !important;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden !important;
        border-radius: 8px !important;
         
        img {
            height: 280px;
            object-fit: fill;
        }
    }
}